<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center">Танки СССР</h1>
  <h2 style="text-align: center; color: lightgoldenrodyellow">Этот сайт разработан, чтобы читатели смогли познакомиться с танками СССР. Здесь представленны более известные советские танки, некоторые из которых бывали в Великой Отечественной войне. В статье представлены характеристики, боеспособность и известность. Надеюсь вам понравится наша статья!</h2>
<p style="color: white">Это сайт на Flask</p>
{% endblock %}