<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center">Ending</h1>
<center>
<img src="/static/Dos.jpg">
  </center>
<h3 style="text-align: center; font-size: 30px; color: lightgoldenrodyellow">Пора прощаться, товарищи! Вы просмотрели всю информацию на этом сайте. Надеюсь в будущем мы еще увидимся. До новых встреч!</h3>
{% endblock %}