<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center">Т-34-85</h1>
<center>
<img src="/static/Т-34-85.jpg">
  </center>
<h3 style="text-align: center; font-size: 30px; color: lightgoldenrodyellow">Перед вами представлен советский средний танк VI уровня Т-34-85. Этот танк хорошо отстоял ВОв и отлично показал себя в боях. В игре он примерно сбалансирован, его можно применять почти во многих местностях против любых видов танках: ЛТ, СТ, ТТ. В нем примерно сбалансированы ДПМ, прочность танка, броня и пробитие. Для новичков он хорошо пойдет в сражениях. Он имеет среднее для СТ бронирование, цикличное орудие со средним уроном в 220 единиц, относительно быстрой перезарядкой и хорошей динамикой. Во время ВОв 1 такой танк мог сдержать целый взвод немецких танков, таких как Tiger1 и тому подобных.</h3>
{% endblock %}