<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center">ИС-7</h1>
<center>
<img src="/static/ИС-7.jpg">
  </center>
<h3 style="text-align: center; font-size: 30px; color: lightgoldenrodyellow">Перед вами представлен советский тяжелый танк X уровня ИС-7. Он имеет очень хорошую броню как во лбу корпуса и башни, так и по бортам. Также по бортам находятся фальш-броня, которая может проглатывать фугасные и кумулятивные снаряды. Поэтому можно танковать снаряды как от бортов в городской местности, так и от башни по горной местности. Из плюсов имеет как для ТТ комфортное орудие с разовым уроном в 490 единиц. А также неплохую (для ТТ) мобильность. Из минусов можно отметить только стабилизация и довольно низкое бронепробитие. Для начинающих этот танк может зайти хорошо и научить основам игры.</h3>
{% endblock %}