<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center">ИСУ-152</h1>
<center>
<img src="/static/ИСУ-152.jpg">
  </center>
<h3 style="text-align: center; font-size: 30px; color: lightgoldenrodyellow">Перед вами представлен советская ПТ-САУ VIII уровня ИСУ-152 (ПТ-САУ - Противотанковая Самоходная Артилеррийская Установка). У него, как у собрата КВ-2, имеется орудие калибром 152мм и 750 единиц за выстрел. Также в арсенале имеется ствол БЛ-10 с таким же калибром, но более высокой бронепробиваемостью, которому могут позавидовать некоторые X уровни. Среди минусов имеется мелкая мобильность, стабилизация ниже среднего и отсутствие башни. Если быстрый танк ЛТ заедет к ИСУ хотя бы в борт, то можно уже встречать Ангар. Рубка имеет маленькие УГН, из-за чего не только ЛТ и СТ, но даже и некоторые ТТ смогут закрутить его. Но только стоит ИСУ выстрелить во врага, как тот передумает вылазить на него. ИСУ-152 является моделью танка СУ-152, приставка И означает, что ИСУ построен на базе танка ИС. В простонародье ИСУ-152 часто называют "Зверобой".</h3>
{% endblock %}