<style>
scroll-behavior: smooth;
body {background: url(/static/WoT_Fon.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center">КВ-2</h1>
<center>
<img src="/static/КВ-2.jpg">
  </center>
<h3 style="text-align: center; font-size: 30px; color: lightgoldenrodyellow">Перед вами представлен советский тяжелый танк VI уровня КВ-2. КВ означает "Клим Ворошилов" - герой Гражданской войны. Его значимый плюс - его ствол. Его орудие имеет калибр 152мм, который может выдавать на ББ по 750 единиц. Оно может разрывать любые слабобронированные танки, оставляя от них лишь куски металла. Недостаток (из игры) - долгое КД и стабилизация, которая оставляет желать лучшего. Так как это тяжелый танк, он имеет нормальное бронирование во лбу, но попадешь против уровней выше, забудь про танкование. Еще минус заключается в его мобильности: пока доедешь до нужной позиции, уже половина боя пройдет. Для развлечения КВ-2 пойдет, но никак не для прокачивания навыков.</h3>
{% endblock %}